@import '../../../variables.scss';

.contact{
  display: block;

  &-item {
    display: flex;

    p {
      margin: 0px;
    }

    &-icon {
      line-height: 1.4;
      padding-right: 8px;
    }
  }
}
