<div class="comment-form">
  <header>
    <h3>Add a comment !</h3>
  </header>
  <form
    [formGroup]="this.form"
    (ngSubmit)="this.onSubmit(form.value)">

    <mat-form-field>
      <mat-label for="authorName">Your name</mat-label>
      <input
        matInput
        type="text"
        name="authorName"
        formControlName="authorName"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Your email</mat-label>
      <input
        matInput
        type="text"
        name="email"
        formControlName="email"/>
    </mat-form-field>
    <mat-checkbox
      matInput
      name="isEmailPublic"
      formControlName="isEmailPublic">I agree displaying this email on this website</mat-checkbox>
    <br>
    <mat-form-field>
      <mat-label for="label">Your comment's title</mat-label>
      <input
        matInput
        type="text"
        name="label"
        formControlName="label"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <label for="content">Your comment</label>
      <textarea
        matInput
        type="text"
        name="content"
        formControlName="content"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" [disabled]="!form.valid">Send comment</button>
  </form>
</div>
