@import '../../../variables.scss';

app-contact {
  font-size: 1rem;
}

.footer {
  border-radius: 15px 15px 0px 0px;
  color: $text-color;
  background-color: $primary;
}

.fill-space {
  flex: auto;
}

.citation {
  display: flex;

  &-img {
    height: 80px;
  }

  &-text {

  }
}
