<mat-toolbar class="footer">
  <app-link
    *ngFor="let linkProperties of this.linkPropertiesArray;"
    [properties]="linkProperties">
  </app-link>
  <div class="fill-space citation">
    <!--
      <img class="citation-img" src="../../../assets/clean-code.jpg">
      <span class="citation-text">Writing clean code is what you must do in order to call yourself a professional. There is no reasonable excuse for doing anything less than your best.</span>
    -->
  </div>
  <app-contact>
  </app-contact>
</mat-toolbar>
