@import '../../../variables.scss';

h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 5px 5px 5px #000000;
}

mat-toolbar {
  position: fixed;
  z-index: 1;
}

.header {
  border-radius: 0px 0px 15px 15px;
  box-shadow: 3px 3px 10px #000000;
  transition: 0.4s;
  color: $text-color;
  background-color: $primary;
}

.fill-space {
  flex: auto;
}

.top {
  height: $headerBaseSize;
}

.up {
  height: 70px;

  .profile-picture {
    height: 50px;
  }
}

.down {
  height: 0px;

  h1{
    margin-bottom: 70px;
  }
  .language-button {
    margin-bottom: 70px;
  }
  .profile-picture {
    margin-bottom: 110px;
    height: 50px;
  }
}

.profile-picture {
  margin-left: 50px;
  height: 90px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
}
