<mat-toolbar role="heading" class="header" [ngClass]="this.state">
  <img class="profile-picture" src="../../../assets/profile-picture.png">
  <span class="fill-space"></span>
  <h1>Angular site Example</h1>
  <span class="fill-space"></span>
  <button id="englishButton"
    class="language-button"
    mat-button
    matTooltip="English"><img src="../../../assets/united-kingdom.png"/></button>
  <button id="frenchButton"
    class="language-button"
    mat-button
    matTooltip="Français"><img src="../../../assets/france.png"/></button>
</mat-toolbar>
