@import '../variables.scss';

.main-container {
  margin-bottom: 70px;
  padding-top: $headerBaseSize;
  margin-left: 8%;
  margin-right: 8%;
  background-color: $secondary;
  color: white;
  border-radius: 10px 10px 10px 10px;
}

.img-display {
  background-image: url("../assets/wall-paper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 2%;
}
